html {
  background: rgb(245, 245, 225);
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
@media only screen and (max-width:800px) {
  .App {
    font-size: 1.25em;
  }
  .nav-items {
    width: 30vw;
    display: none;
  }
  .nav-items .btn {
    font-size: 1.5em;
  }
  .nav-padding {
    position: absolute;
    height: 100px;
  }
  .hamburger {
    position: fixed;
    top: 1%;
    left: 1%;
    display: block;
  }
  .content {
    align-content: center;
    width: 100%;
    max-width: 100%;
  }
  .content-head {
    position: fixed;
    word-wrap: normal;
    height: 13vh;
    min-height: 80px;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-head h1 {
    max-width: 90vw;
    padding-left: 10px;
    padding-bottom: 0;
    margin-bottom: 1px;
  }
  .content-head h3 {
    margin: 0;
    padding-top: 0;
    max-width: 90vw;
    padding-left: 10px;
  }
  .content-body {
    word-wrap: normal;
    padding-left: 2%;
    max-width: 97%;
    width: 97%;
    margin-block-start: 14vh;
  }
  table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .injuryTable {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  tr {
    max-width: 10em;
  }
  td {
    max-width: 4.6em;
    font-size: 11pt;
    /* word-wrap: normal; */
  }
  .searchSpan {
    width: 100%;
  }
  .searchBar {
    width: 50%;
    font-size: 1.5em;
    margin-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 10px;
    border : 2px solid #000000
  }
  #attributeSearch {
    width: 80%;
  }
  .searchLabel {
    width: 30%;
    font-size: 1.5em;
    /* background-color: rgb(220, 220, 200); */
    margin-top: 20px;
    margin-left: 0px;
  }
  .searchBox {
    height: 2em;
    width: 20%;
  }
  .searchBox .searchLabel {
    width: 30%;
    font-size: 1.5em;
    margin-top: 2px;
    margin-left: 0;
  }
  .searchBox .searchBar {
    width: 2em;
    font-size: 1.5em;
    padding-top: 0;
    padding-bottom: 0;
  }
  .description {
    overflow: auto;
  }
  .descPic {
    width: 50vw;
    height: 50vw;
    max-width: 300px;
    max-height: 300px;
    float: right;
  }
} /* Media Mobile */
@media only screen and (min-width:801px) {
  .App {
    font-size: 1.2em;
  }
  .nav-items {
    display:flex;
    width: 20%;
    max-width: 150px;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #a0a0a0;
  }
  ::-webkit-scrollbar-thumb {
    background: #555;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #333;
  }
  .nav-padding {
    height: 90vh;
    width: 24vw;
    max-width: 145px;
    display: none;
  }
  .content {    
  width: 90%;
  margin-right: 0.5em;
  }
  .content-head {
    word-wrap: none;
    position: fixed;
    height: 13vh;
  }
  .content-head h1 {
    padding-right: 20vw;
    padding-bottom: 0;
    margin-bottom: 1px;
  }
  .content-head h3 {
    padding-right: 20vw;
    padding-top: 0;
    /* margin: 0; */
    margin-block-end: 0.5em;
  }
  .content-body {    
  padding-left: 10px;
  margin-block-start: 13vh;
  width: 100%;
  }
  .content-body p {
    margin-top: 0;
  }
  .hamburger {
    display: none;
  }
  table {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
  .searchSpan {
    width: 100%;
    height: 2em;
  }
  .searchBar {
    font-size: 1.5em;
    margin-left: 5px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 10px;
    border : 2px solid #000000
  }
  #giftSearch {
    width: 6em;
  }
  #attributeSearch {
    width: 8em;
  }
  .searchLabel {
    width: 20%;
    font-size: 1.5em;
    /* background-color: rgb(220, 220, 200); */
    margin-top: 2px;
    margin-left: 30px;
  }
  .searchBox {
    height: 2em;
    width: 8em;
  }
  .searchBox .searchLabel {
    width: 5em;
    font-size: 1.5em;
    margin-top: 2px;
    margin-left: 0;
  }
  .searchBox .searchBar {
    width: 2.5em;
    font-size: 1.5em;
    padding-top: 0;
    padding-bottom: 0;
  }
  .injuryDiv {
    display: flex;
    flex-direction: row;
  }
  .injuryTable {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .description {
    overflow: auto;
  }
  .descPic {
    width: 20vw;
    height: 20vw;
    float: right;
    margin-block-start: 1em;
  }
} /* Media: Desktop */
@media only screen and (max-height:450px) {
  .content-body {
    margin-block-start: 80px;
  }
  .descPic {
    margin-block-start: 20px;
  }
} /* Media: Sideways Mobile */
h1 {
  text-align: center;
}

.content-head h1 {
  margin: 0;
}

.content-head h3 {
  text-align: center;
}

h3 {
  margin-block-end: 0;
}

.fade {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0,0,0,0.5);
  z-index: 9;
}

.nav-items {
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
  min-width: 80px;
  background: rgb(40,40,50);
  color: white;
  list-style: none;
  padding-inline-start: 10px;
  margin-block-start: 0;
  margin-block-end: 0;
  position: fixed;
  top: 30;
  z-index: 10;  
  overflow-y: auto;
}

.nav-items li {
  padding-top: 1em;
}

.nav-items .list {
  padding-top: 0;
}

.nav-items .list ul {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-items .list ul li {
  padding-top: 0;
  padding-bottom: 0.25em;
}

.nav-top {
  padding:0;
  margin:0;
}

.nav-top h3 {
  margin:0;
}

/* .nav-items li :hover {
  background: rgb(90,90,110);
  transition: all 0.2s ease-in-out;
  transform: scale(2);
} */

.nav-padding{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 65px;
  padding-inline-start: 10px;
  padding-top: 10px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.hamburger {
  cursor: pointer;
  z-index: 2;
}


.content{
  display: flex;
  margin-block-end: 2em;
  background: none;
}

.content-head{
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 0;
  width: 100vw;
  top: 0;
  background: rgb(70,70,80);
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-body ul {
  margin-block-end: 0;
}

ul{
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
  padding-inline-start: 20px;
}

.listBtn:hover{
  cursor: pointer;
}

.searchEntry {
  margin-block-start: 1em;
  background: rgb(220, 220, 200);
  border-style: solid;
  border-width: 2px;
  border-color: rgb(200, 200, 180);
}

.searchEntry h2 {
  padding-top: 0;
  margin-top: 0;
}

.levelBlock h2 {
  padding-top: 0;
  margin-top: 0;
}

.gift h2, .creature h2 {
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 2px;
}

.searchHR {
  border-top: 2px dashed black;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  min-width: 2em;
}

tbody {
  width: 100%;
  justify-self: center;
}

tr:nth-child(even) {
  background-color: rgb(230, 230, 205);
}

tr:first-child {
  background-color: rgb(70, 70, 80);
  color: rgb(255,255,255);
}

.blankTable tbody{
  justify-self: left;
}

.blankTable th, .blankTable td {
  border: 0px;
  text-align: end;
}

.blankTable tr {
  background-color: transparent;
  color: black;
}

table.blankTable {
  border: 0;
  margin: 0;
  width: 50%;
}

.clearable{
  position: relative;
  display: inline-block;
}

.clearable input[type=tel]{
  padding-right: 24px;
  /* width: 100%; */
  box-sizing: border-box;
}

.clearable input::-ms-clear {  /* Remove IE default X */
  display: none;
}